.headerTitle {
  font-family: "IranyekanNormal";
  font-size: 32px;
  color: white;
  line-height: 1;
  text-transform: uppercase;
}
.parentWrraper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}
.parent {
  background: #000;
}
.logoSec {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logoImg {
  width: 40px;
  height: 40px;
}
.menu {
  transition: all 250ms ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "IranyekanMedium";
  list-style: none;
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  -ms-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
}
.menu li a{
  padding: 10px 30px;
  &:hover{
    color: var(--color-oran);
  }
}
.menu li a:first-child {
  padding: 10px 30px 10px 0;
}
.menu li a:last-child {
  padding: 10px 0 10px 30px;
}
.btnSecStart {
  text-align: center;
  transition: all 250ms ease-in-out;
  padding: 0.25rem 1.5rem;
  border: 2px solid var(--color-oran);
  border-radius: 5px;
  font-family: "IranyekanNormal";
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  -ms-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  &:hover {
    background-color: var(--color-oran);
    color: #313131;
  }
}
