.headerTitle {
  font-family: "IranyekanNormal";
  font-size: 32px;
  color: white;
  line-height: 1;
  text-transform: uppercase;
}
.parentWrraper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}
.parent {
  transition: all 250ms ease-in-out;
  background: none;
  position: fixed;
  inset: auto 0;
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  -ms-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
}
.logoSec {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logoImg {
  width: 40px;
  height: 40px;
}
.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "IranyekanMedium";
  font-size: 16px;
  list-style: none;
}
.menu li a {
  transition: all 250ms ease-in-out;
  padding: 10px 30px;
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  -ms-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
  &:hover {
    color: var(--color-oran);
  }
}
.menu li a:first-child {
  padding: 10px 30px 10px 0;
}
.menu li a:last-child {
  padding: 10px 0 10px 30px;
}
.btnSecStart {
  text-align: center;
  transition: all 250ms ease-in-out;
  padding: 0.25rem 1.5rem;
  border: 2px solid var(--color-oran);
  border-radius: 5px;
  font-family: "IranyekanNormal";
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  -ms-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  &:hover {
    background-color: var(--color-oran);
    color: #313131;
  }
}
.secHeader {
  background-image: url("../../../public/assets/images/hero-bg.jpg");
  background-color: rgba(0, 0, 0, 0.6);
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.grayFilter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  text-align: center;
  padding-top: 10rem;
}
.headTitr {
  font-family: "IranyekanBold";
  font-size: 62px;
  max-width: 900px;
}
.lessTitr {
  font-family: "IranyekanLight";
  font-size: 24px;
  max-width: 900px;
  margin: 1.5rem 0;
}
.infoBox {
  transition: all 250ms ease-in-out;
  border: 1px solid #969696ad;
  width: fit-content;
  padding: 2rem 1.5rem;
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  -ms-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
  &:hover {
    border-color: var(--color-oran);
  }
  &:hover .infodesc {
    color: var(--color-oran);
  }
  &:hover .infoIcon {
    color: var(--color-oran);
  }
}
.infoIcon {
  transition: all 250ms ease-in-out;
  margin-bottom: 0.5rem;
  font-size: 32px;
}
.infodesc {
  transition: all 250ms ease-in-out;
  font-family: "IranyekanNormal";
  font-size: 20px;
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  -ms-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
}
.infoBoxContainer {
  display: flex;
  justify-content: center;
  margin: 2rem auto;
  gap: 2rem;
  flex-wrap: wrap;
}

@media only screen and (max-width: 1200px) {
  /* header */
  .headTitr {
    font-size: 42px;
  }
  .lessTitr {
    font-size: 18px;
  }
  .infoBox {
    padding: 1.5rem 1rem;
  }
  .infoIcon {
    font-size: 28px;
  }
  .infodesc {
    font-size: 18px;
  }
}

@media only screen and (max-width: 992px) {
  /* navbar */
  .menu {
    font-size: 12px;
  }
  .menu li a {
    padding: 5px 20px;
  }
  .menu li a:first-child {
    padding: 5px 20px 5px 0;
  }
  .menu li a:last-child {
    padding: 5px 0 5px 20px;
  }
}

@media only screen and (max-width: 768px) {
  /* navbar */
  .menu {
    display: none;
  }
  /* header */
  .headTitr {
    font-size: 32px;
  }
  .lessTitr {
    font-size: 14px;
  }
  .infoBox {
    padding: 1rem 0.5rem;
  }
  .infoIcon {
    font-size: 22px;
  }
  .infodesc {
    font-size: 14px;
  }
}

@media only screen and (max-width: 576px) {
  /* navbar */
  .menu {
    display: none;
  }
  /* header */
  .headTitr {
    font-size: 22px;
  }
  .lessTitr {
    font-size: 14px;
  }
  .infoBox {
    padding: 1rem 1rem;
  }
  .infoIcon {
    font-size: 16px;
  }
  .infodesc {
    font-size: 10px;
  }
}
@media only screen and (max-width: 380px) {
  /* navbar */
  .menu {
    display: none;
  }
  /* header */
  .headTitr {
    font-size: 20px;
  }
  .lessTitr {
    font-size: 12px;
  }
  .infoBox {
    padding: 1rem 0.5rem;
  }
  .infoIcon {
    font-size: 18px;
  }
  .infodesc {
    font-size: 10px;
  }
}
